.html{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: black;
}
body{
    background-color: aqua;
    color: black;
    text-align: center;
}

.box-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap:1.5vmin;
    align-items: center;
    justify-content: center;
  }

  
  .boxes{
    width:12vmin;
    height:12vmin; 
    border: 0;
    border-radius: 3vmin;
    /* background-color: antiquewhite; */
    box-shadow:8px 6px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .mode{
    height:6vmin;
    width: 11vmin;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top:5vmin;
    transition: all 0.4s;
    cursor: pointer;

  }
  .mode{
    position: fixed;
    top:-1px;
    right:5px; 
  }

  .reset{
    height:6vmin;
    width: 10vmin;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white; 
    margin-top:8vmin;
    transition: all 0.4s;
    cursor: pointer;
  }
  .reset:hover{
    width: 10.8vmin;
    height: 6.4vmin;

  }
.title{
    text-align: center;
}

